<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bingo首页</title>
</head>
<body>
<form action="">
    <input type="text" value={{ c.name }} name="username" />
    <input type="password" name="password" />
    <input type="submit" value={{ a }} />
    <select name="vb">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
</form>
</body>
<script type="text/javascript">
document.getElementsByTagName("select")[0].onchange=function () {
    var val=this.value
    document.getElementsByName("username")[0].setAttribute("value",val);
}
</script>
</html>